<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.seanhelvey.com">The Loop</a>
  is an app to bring friends closer together.
  <a href="http://rubyonrails.org/">Boulder Open Source</a>
  Is a group of kids in Boulder making and sharing apps.
</p>