<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  For help please contact Sean Helvey
  <a href="http://www.seanhelvey.com">www.seanhelvey.com</a>.
  Please visit our
  <a href="https://github.com/smh436/TheL00p">GitHub</a>
  page and submit a pull request to contribute.
</p>