<footer class="footer">
  <small>
    <a href="http://www.seanhelvey.com">The Loop</a>
    by Boulder Open Source
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>
